<div class="listing">
    <img src="{{item.icon}}" alt="">
    <h3>{{item.name}}</h3>
    <div class="detail type">
        <span>Type:</span> {{item.type}}
    </div>
    <div class="detail rarity">
        <span>Rarity:</span> {{item.rarity}}
    </div>
    <div class="detail value">
        <span>Vendor Value:</span> {{item.vendor_value}}
    </div>
</div>